* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(222, 215, 215);
    width: 100%;
}

button:hover {
    cursor: pointer;
    font-size: 14px;
}

header {
    max-width: 1920px;
    width: 100%;
    background-color: white;
    margin: auto;
}

.title {
    width: 95%;
    min-height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleimgleft img {
    width: 150px;
}

.titleimgright img {
    width: 120px;
}

.titletext {
    text-align: center;
    text-transform: uppercase;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 50px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}

.navitems {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlinks {
    width: 75%;
}

.navlinks a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 25px 25px 25px 0;
}

.navlinks a:hover {
    cursor: pointer;
    font-size: 17px;
    color: blue;
}

.navspecials {
    display: flex;
    align-items: center;
}

.search input {
    width: 250px;
    height: 30px;
    border: none;
    background-color: rgb(231, 227, 227);
    border-radius: 5px;
    outline: none;
    padding-left: 15px;
}

.login button {
    width: 80px;
    height: 30px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    border: none;
}

.login button:hover {
    cursor: pointer;
}

main,
section,
footer {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

main {
    height: auto;
    background-color: rgb(245, 245, 245);
}

.heroimg {
    width: 100%;
    height: auto;
    min-height: 340px;
}

.heroimg img {
    width: 100%;
    height: 100%;
    min-height: 340px;
    object-fit: stretch;
}

section {
    height: auto;
    background-color: rgb(245, 245, 245);
}

.license,
.dashboard {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
    margin: auto;
    background-color: rgb(245, 245, 245);
}

.textcontent {
    width: 95%;
    margin: auto;
    height: auto;
    text-align: center;
    text-transform: uppercase;
}

.textcontent h2 {
    font-size: 30px;
}

.textcontent p {
    padding-top: 5px;
    font-size: 15px;
}

.cardsdiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 95%;
    height: auto;
    margin: 0 auto;

}

.card {
    margin: 30px 0;
    border-radius: 15px;
    box-shadow: 0 5px 8px 0 rgb(71, 68, 68);
    background-color: white;
    min-height: 350px;
    min-width: 300px;
    max-width: 300px;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: transform .3s ease;

}

.cardimg {
    width: 150px;
    height: 150px;
    margin: 30px auto;
}

.cardimg img {
    height: 100%;
    width: 100%;
}

.cardtextarea {
    text-align: center;
    padding: 0 10px 10px 10px;
    text-transform: uppercase;
}

.cardtextarea h2 {
    font-size: 20px
}

.cardtextarea p {
    padding-top: 10px;
    font-size: 14px;
}

.btndiv {
    width: 90px;
    height: 40px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

.btndiv button {
    width: 100%;
    height: 100%;
    background-color: blue;
    color: white;
    border-radius: 5px;
}


.vehicle,
.infoservices {
    background-color: rgb(219, 247, 245);
    padding-top: 30px;
    width: 100%;
    height: auto;
    margin: auto;
    padding-bottom: 30px;
}

footer {
    height: auto;
    background-color: rgb(50, 49, 49);
    color: white;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    padding: 50px 50px;

}

.footercontents {
    padding: 10px 2px;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.footersection {
    padding-bottom: 20px;
}

.footersection h3 {
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 8px;
    padding-bottom: 15px;
}

.footersection p {
    font-weight: lighter;
    font-size: 13px;
}

.credits {
    text-align: center;
    margin-left: 5px;
    min-height: 200px;
    width: 95%;
    border-left: solid 2px white;
    padding-left: 30px;
    align-content: center;
    text-transform: uppercase;
}

.credits p {
    padding-top: 10px;
    font-size: 10px;
}

.credits p>a {
    color: blue;
}

.credits p>b {
    font-size: small;
    text-decoration: underline;
}

.credits p:last-child {
    padding-top: 10px;
}

